.variant { display: none }
.has-variant .variant { display: inline }
.btn-upload.ld-ext-right
  width: 6em
  transition: width .35s ease-in-out, padding-right .35s ease-in-out
  flex: 1 0 auto
.btn-upload.ld-ext-right.running
  width: 6.5em
