div
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block"): include:lsc index.ls
  .form-group(plug="widget",ld="base")
    div(ld="display",data-display="block")
      label.d-flex.align-items-end.flex-wrap
        div
          span(ld="label")
          span.variant.text-sm.ml-2 (#[span(ld="variant")])
          span.text-danger.ml-2(ld="is-required") *
        .flex-grow-1
        .m-edit: .text-danger.text-sm(ld="limitation")
    .text-sm.text-muted(ld="display", data-display="block"): div(ld="desc", style="margin:-.6em 0 .7em")
    .d-flex.align-items-start.mb-2
      .m-edit.btn.btn-primary.btn-upload.mr-2.px-4.ld-ext-right(ld="button")
        span(t) 上傳
        input(type="file",ld="input")
        .ld.ld-spin.ld-spinner
      .d-flex.flex-column
        //- slightly offset for better visual alignment
        .d-flex.flex-column.g-2(style="transform:translate(0,-.1875em)")
          .pl-3.d-flex.g-3.align-items-center(ld-each="file-info")
            // use margin instead of padding to make it harder to be accidentally clicked
            i.m-edit.i-trashcan.text-danger.text-sm.clickable.m-2(ld="delete")
            .text-left
              a(ld="detail",rel="noopener noreferrer",target="_blank")
                div(ld="filename") ...
                .d-flex.flex-wrap(style="font-size:12px")
                  div
                    span(t) 檔案大小
                    span.mr-1 :
                    span(ld="size")
                  .mx-2 /
                  div
                    span(t) 編輯時戳
                    span.mr-1 :
                    span(ld="time")
        .text-danger.btn(t,ld="no-file") 尚未上傳任何檔案
        .text-danger.btn.d-none.pl-4.text-left(t,ld="file-uploading")
    plug(name="preview")
    .text-danger.m-edit.mb-2(ld="error-root")
      div(ld-each="error") #[i.i-exclamation-circle] #[span(ld="text")]
    .text-danger.text-sm.m-edit
      div(ld-each="note")
